::ng-deep .registration-dialog .mat-dialog-container {
  padding: 0;
}

:host {
  display: block;
  margin: 0;
}

.registration-mode {
  max-width: 100%;
  margin-top: 0;
}

.hero {
  padding: 2rem 2rem;
  text-align: center;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-actions {
  margin-top: 2rem;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
}

.btn-primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border: 2px solid var(--mat-sys-primary);
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
}

.btn-secondary {
  background-color: var(--mat-sys-surface);
  border: 2px solid var(--mat-sys-primary);
  color: var(--mat-sys-primary);
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
}

.btn-primary:hover,
.btn-secondary:hover {
  filter: brightness(0.9); /* 0.9 = 10% darker */
}

.btn-primary:hover {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.features {
  max-width: 1200px;
  margin: 3.2rem auto;
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 0.9rem 1rem;
  border-radius: 40px;
  background-color: var(--mat-sys-surface-container);
  overflow: hidden;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 1.5rem;
  position: relative; 
}

/* Divider line between features */
.feature:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12%; /* gap from the top */
  bottom: 12%; /* gap from the bottom */
  right: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}




