apiVersion: apps/v1
kind: Deployment
metadata:
  name: registration-mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registration-mongodb
  template:
    metadata:
      labels:
        app: registration-mongodb
    spec:
      containers:
      - name: mongodb
        image: docker.io/library/mongo:7.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 27017
        envFrom:
        - secretRef:
            name: registration-mongodb-secret
        volumeMounts:
        - name: mongodb-storage
          mountPath: /data/db
        readinessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: mongodb-storage
        persistentVolumeClaim:
          claimName: registration-mongodb-pvc
