.admin-registration-list {
  max-width: 1000px;
  margin: 1rem auto;

  mat-card {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
  }

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--mat-sys-outline);
    margin-bottom: 1rem;
  }

  .header-actions {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
