apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-service-config
data:
  SPRING_APPLICATION_NAME: notification-service
  EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-service:8761/eureka/
