apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login-service
  template:
    metadata:
      labels:
        app: login-service
    spec:
      containers:
      - name: login-service
        image: docker.io/tylerhight/login-service:1.2.9
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        # App name
        - name: SPRING_APPLICATION_NAME
          valueFrom:
            configMapKeyRef:
              name: login-service-config
              key: SPRING_APPLICATION_NAME

        # Eureka URL
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: login-service-config
              key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE

        # Database connection settings
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://login-mysql:3306/login_db
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: login-mysql-secret
              key: MYSQL_USER
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: login-mysql-secret
              key: MYSQL_PASSWORD

        # Kafka bootstrap servers
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: kafka:29092

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
          timeoutSeconds: 3

        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1024Mi"
            cpu: "500m"
