:host.full-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

:host {
  margin: 0; /* default for dialog mode */
}

.registration-mode {
  max-width: 600px;
  width: 90%;
}

.employee-form-card {
  height: auto;
  display: block;
  width: 100%;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

mat-card-title {
  font-weight: 600;
  font-size: large;
  color: var(--mat-sys-primary);
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: .8rem;
  row-gap: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.full-width {
  grid-column: span 2;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
}

button[mat-raised-button] {
  font-weight: 600;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
}
