apiVersion: v1
kind: Service
metadata:
  name: audit-service
  labels:
    app: audit-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8084
      protocol: TCP
      name: http
  selector:
    app: audit-service
