@use '@angular/material' as mat;


html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$green-palette,
      secondary: mat.$green-palette,
      error: mat.$orange-palette,
    ),
    density: 0,
  ));
}

body.dark-mode {
  color-scheme: dark;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}