@use '@angular/material' as mat;

.table-container {
  max-height: calc(100vh - 200px);
  overflow: auto; /* adds both scrollbars */
}

.table-edit-field {
  width: 100%;
  max-width: 220px;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.table-edit-field .mat-form-field-infix {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table-edit-field .mat-select-trigger {
  min-height: 36px; /* matches button height */
  display: flex;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  min-height: 100px;
}

.error {
  color: var(--mat-sys-error);
  text-align: center;
  margin-bottom: 1rem;
}

th.mat-header-cell.actions-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

/* Keep table cell default alignment */
td.actions-cell {
  vertical-align: middle;
  padding: 0.5rem; /* match td.mat-cell */
}

/* Align icons/buttons inside a flex wrapper */
.actions-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

td.mat-cell {
  padding: 0.5rem;
  vertical-align: middle;
}

mat-card-content {
  padding: 0;
  border: none;
  background-color: transparent;
}

mat-card {
  background-color: transparent;
  box-shadow: none;
}

.empty-message {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  color: var(--mat-sys-on-surface);
}

.mat-cell input[matInput] {
  max-width: 2000px;
  width: 90%;
  font-size: 0.9rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

.mat-cell button {
  margin: 0 0.25rem;
}

.mat-cell .mat-icon {
  font-size: 20px;
}


